* { font-family: 'Karla', sans-serif; }

tbody tr:hover{
  background-color: #eceff1 ;
}

tr:click{
  background-color: black;
}

.player-nav {
  bottom: 0;
  position: fixed !important;
  width: 100vw;
  max-width: none !important;
  padding: 10px;
}

.buttons button {
  margin: 0 5px;
}

.active {
    background-color: #b0bec5;
}

#volume {
  border: none !important;
  margin-bottom: 0;
}

.range-field, .volume-slider {
  margin: 0;
}

.range-field {
  max-width: 700px;
  margin: auto
}
